@font-face {
    font-family: "Playground";
    src: url("./fonts/Playground.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    font-family: "Playground", sans-serif; /* Use your custom font */
    background-color: #000000;
}
